body{
    text-align: center;
    font-family: Montserrat;
}
label {
    display: inline-block;
    width: 80px;
    font-weight: bold;
}
input {
    width: 200px;
}
input[type=submit] {
    width: auto;
}
footer {

}
/*Table*/
td {
    padding: 10px;
}
td.image img {
    width: 50px;
    height: 50px;
}

tfoot td {
    text-align: center;
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: grey;
    color: white
}

table {
    margin: 0 auto;
}



.errors {
    color: red;
}

